$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$controls: #181818;
$textGrey: #b3b3b3;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  background-color: $greyLight;
  height: calc(100vh - 91px);
  min-height: 100%;
  color: white;
  display: flex;
}

.navbar {
  width: 232px;
  height: 100%;
  background-color: #000;
  color: white;
  padding: 10px;
  .logo {
    padding: 1rem 0.5rem;
    img {
      max-width: 160px;
    }
  }
  ul {
    font-weight: 600;
    li {
      list-style-type: none;
      color: $textGrey;
      padding: 0.7rem 1rem;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      align-items: center;
      &.active {
        background: $greyLighter;
        color: white;
      }
      &:hover {
        color: white;
      }
    }
  }
}

.main {
  width: 100%;
  .mainHeader {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 60px;
    background-color: $controls;
    position: relative;
  }
  .mainContent {
    padding: 1rem;
    display: flex;
  }
}

.cardWrapper {
  margin: 0.7rem;
  &:hover {
    .card {
      background-color: #303030;
    }
  }
  .card {
    background: $greyLighter;
    width: 200px;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    transition: 0.25s;
    &:hover {
      .playButton {
        opacity: 1;
      }
      .card {
        background-color: #444444;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .cardText {
      padding-top: 1rem;
      h3 {
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.85rem;
        font-weight: 600;
        color: $textGrey;
      }
    }
  }
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicControls {
  height: 91px;
  width: 100vw;
  background-color: $controls;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon {
  width: 25px;
  margin-right: 1rem;
}

.playButton {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 123, 0);
  border-radius: 50%;
  display: flex;
  opacity: 0;
  margin: auto;
  position: absolute;
  .playIcon {
    margin: auto;
    margin-left: 14px;
    width: 25px;
  }
}
